body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.today {
    background-color: green;
}

.today:hover {
    background-color: greenyellow;
}

.calendar-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.calendar-navigation a {
    margin: 0 10px;
    text-decoration: none;
    color: #000;
}

.calendar-navigation a:hover {
    color: #ff0000;
}

.txcenter {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: solid black 1px;
}

th {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
}

td {
    padding: 10px;
    text-align: center;
}

td[data-date] {
    cursor: pointer;
}

td[data-date]:hover {
    background-color: #f2f2f2;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    padding: 10px;
    text-align: center;
}

.txright {
    text-align: right;
}

/* Styles for active and focused links */
a:active,
a:focus {
    background-color: #f00;
    color: #fff;
}

/* Styles for links on hover */
a:hover {
    background-color: #00f;
    color: #fff;
}
a:active,
        a:focus {
            /* Estilos para los enlaces activos o enfocados */
            /* Por ejemplo, puedes cambiar el color de fondo y el color del texto */
            background-color: #f00;
            color: #fff;
        }

        a:hover {
            /* Estilos para los enlaces cuando el cursor está sobre ellos */
            /* Por ejemplo, puedes cambiar el color de fondo y el color del texto */
            background-color: #00f;
            color: #fff;
        }